
body {
    background-color:	#f3cc60;
};
/* 
.img {

    display: block;
    margin-left: auto;
    margin-right: auto;
};  */

h1 {
    text-align: center;
    color: red;
};

/* textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
}; */

/* .center {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    padding-top: 50px;
} */
