
body {
    background-color:	#f3cc60;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:17%;
    height:auto;
    padding-top:1%;
} 

h1 {
  text-align: center;
  color: red;
  font-size: 35px;
  padding-bottom: 20px;
}

h2 {
    color:red;
    padding-top:20px;
    text-align: center;
}

.center{
    text-align: center;
    padding-bottom:20px;
    padding-left:200px;
    
}

form {
    text-align: center;
    text-align: center;
    font-size: 20px;
    padding-top:5px;

}